!!! 5
html(lang='en')
head
	include head
body
	include navbar
	.container-fluid
		.row-fluid
			.span3
				include side-navbar
			.span9
				.hero-unit
					h1 CS Tablet
					p
						| a tutorial on how to set up a basic server and website
		hr
		footer
			p © Wisdom Tablet&nbsp&nbsp2013
	include script-load