// Placed at the end of the document so the pages load faster 
script(src='/docs/assets/js/jquery.js')
script(src='/docs/assets/js/transition.js')
script(src='/docs/assets/js/alert.js')
script(src='/docs/assets/js/modal.js')
script(src='/docs/assets/js/dropdown.js')
script(src='/docs/assets/js/scrollspy.js')
script(src='/docs/assets/js/tab.js')
script(src='/docs/assets/js/tooltip.js')
script(src='/docs/assets/js/popover.js')
script(src='/docs/assets/js/button.js')
script(src='/docs/assets/js/collapse.js')
script(src='/docs/assets/js/carousel.js')
script(src='/docs/assets/js/typeahead.js')